*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Be Vietnam Pro', sans-serif;
}

body { 
    font: 16px;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-family: 'Cherry Bomb One', cursive;
    font-family: 'Dela Gothic One', cursive;
    font-family: 'Freckle Face', cursive;
    font-family: 'Handjet', cursive;
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 15px 0px 15px 0px;
    width: 100wh;
}

.logotipo {
    padding: 10px; 
}

.menu-header ul li a{
    display: none;
    visibility: hidden;
}

ul{ 
    list-style: none;
}

.botonPersonalizado{
    display: none;
    visibility: hidden;
}

main{
    display: flex;
    flex-wrap: wrap;
}

main img{
    width: 100%;
    margin-top: 15px;
}

.tituloPrincipal{
    font-weight: 700;
    font-size: 50px;
    color: #232C50;
}

.tituloPrincipal span{
    text-transform: uppercase;
}

@media(min-width: 480px){
    
    .menu-header ul {
        justify-content: space-around;
        color: black; 
    }
    
    .menu-header li{
        margin-right: 10px;
    }
    
    .menu-header a{
        text-decoration: none;
        color: #000000;
    }

    .botonPersonalizado {
        background-color:#8B48BF;
        color: white;
        border-radius: 50px;
        border: none;
        font-family: 'Be Vietnam Pro', sans-serif;
        font-size: 13px;
        padding: 10px;
    }
}