*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Be Vietnam Pro', sans-serif;
}

body { 
    font: 16px;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-family: 'Cherry Bomb One', cursive;
    font-family: 'Dela Gothic One', cursive;
    font-family: 'Freckle Face', cursive;
    font-family: 'Handjet', cursive;
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 15px 0px 15px 0px;
    width: 100wh;
}

.logotipo {
    padding: 10px; 
}

.menu-header ul li a{
    display: none;
    visibility: hidden;
}

ul{ 
    list-style: none;
}

.botonHeader{
    display: none;
    visibility: hidden;
}

main{
    display: flex;
    flex-wrap: wrap;
}

main img{
    width: 100%;
}

.tituloPrincipal{
    font-weight: 700;
    font-size: 46px;
    color: #232C50;
    text-align: right;
}

.tituloPrincipal span{
    text-transform: uppercase;
}

.tituloPrincipal p{
    font-weight: 500;
    font-size: 20px;
    padding-top: 20px;
}

button{
    background-color:#8B48BF;
    color: white;
    border-radius: 50px;
    border: none;
    font-family: 'Be Vietnam Pro', sans-serif;
}

.botonContacto{
    font-size: 13px;
    width: 150px;
    height: 43px;
} 

.divisionMain{
    background-color: #3CDDF3;
    color: #ffffff;
    padding: 40px 40px 40px 20px;
    margin: 30px 0px;
}

.divisionMain h2{
    font-family: 'Be Vietnam Pro', sans-serif;
    font-weight: 700;
    font-size: 38px;
    padding-bottom: 25px;
}

.divisionMain p{
    font-weight: 500;
    font-size: 16px;
}

.fondoDiferencias{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: auto;
    background-color: rgba(139, 72, 191, 0.3);
    padding-right: 0px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

.fondoDiferencias button{
    width: 10%;
}

.fondoDiferencias h6{
    width: 90%;
}

.diferenciaProfesional button{
    width: 69px;
    padding: 15px 0px 15px 0px;
}

.diferenciaProfesional{
    padding-right: 0px;
    align-items: center;
}

.diferenciaProfesional h6{
    display: flex;
    align-items: center;
    color: #323851;
    font-weight: 700;
    font-size: 18px;
    padding-left: 20px;
}

.diferenciaProfesional p{
    margin-top: 25px;
    margin-left: 10px;
    display: block;
    color: #B3B2B7;
    font-size: 18px;
    padding-right: 20px;
}

.mejorProfesional{
    text-align: center;
    padding: 50px;
    font-weight: 700;
    font-size: 40px;
}

.sanyo{
    display: none;
    visibility: hidden;
}

.lebron{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 500;
    padding: 40px;
}

.lebron img{
    max-width: 20%;
    height: auto;
    padding-bottom: 20px;
}

.lebron p{
    padding-top: 20px;
}

.botonMejor{
    display: block;
    width: 150px;
    height: 43px;
    margin: 0 auto;
}

.navarro{
    display: none;
    visibility: hidden;
}

.divisionFinalMain{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    background-color: #3CDDF3;
    color: #ffffff;
    width: 100vw;
    padding: 20%;
    margin-top: 30px;
}

.divisionFinalMain h2{
    font-family: 'Be Vietnam Pro', sans-serif;
    font-weight: 700;
    font-size: 38px;
    margin-bottom: 30px;
}

.divisionFinalMain button{
    background-color: #232C50;
    height: 43px;
    width: 100px;
}

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1E1E26;
    width: 100%;
    padding-top: 20px;
    color: white;
}

.enlaces{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.formulario{
    padding-bottom: 30px;
}

.enlaces ul{
    display: flex;
    flex-direction: column;
    width: 50%;
}

#email{
    border-radius: 10px;
    border: none;
    height: 33px;
    width: 70vw;
    color: #A0A0A0;
}

#emailBoton{
    background-color: #8B48BF;
    border-radius: 10px;
    border: none;
    height: 33px;
}

.enlacesRedesSociales{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

footer{
    width: 100vw;
}

footer .logotipo{
    margin-top: 10px;
    text-align: center;
}

footer p{
    font-size: 12px;
    padding-bottom: 20px;
}

@media(min-width: 480px){

    .menu-header ul li a{
        color: #242E52;
        display: flex;
        visibility: visible;
    }

    .menu-header ul{
        display: flex;
        flex-direction: row;
    }

    .menu-header li{
        margin: 0px 15px;
    }

    .menu-header a:hover{
        color: rgba(36, 46, 82, 0.6);
    }
    
    .menu-header a{
        text-decoration: none;
        
    }

    .hamburger-mobile{
        display: none;
        visibility: hidden;
    }

    .botonHeader{
        display: flex;
        visibility: visible;
        justify-content: center;
        align-items: center;
    }

    .seccionPrincipal{
        display: flex;
        flex-direction: row;
        margin: 10%;
        justify-content: space-between;
    }

    .imagenPrincipal{
        width: 40%;
    }

    .tituloPrincipal{
        width: 40%;
    }

    .imagenPrincipal{
        display: flex;
        flex-direction: row;
    }

    .divisionMain, .divisionFinalMain{
        display: flex;
        flex-direction: row;
        width: 100%;
        background-color: #8B48BF;
    }

    /* .divisionMain, .divisionFinalMain{
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        padding: 3%;
        background-color: #8B48BF;
    }

    .divisionMain h2, .divisionMain p{
        text-align: center;
        width: 100%;
        padding: 0% 5%;
    }

    .divisionFinalMain h2, .divisionFinalMain p{
        text-align: center;
        width: 100%;
        padding: 0% 5%;
    } */

    .botonHeader {
        width: 150px;
        height: 40px;
    }

    .footer{
        display: flex;
        flex-direction: row-reverse;
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .redesSociales{
        display: flex;
        flex-direction: column-reverse;
    }

    .enlacesRedesSociales{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    footer .logotipo{
        display: flex;
        justify-content: center;
    }

    .redesSociales i{
        display: flex;
        flex-direction: row;
    }

    #email{
        width: 70%;
    }
}